h1,h2,h3,h4,h5,h6,p,ul,ol,pre,dl,dd,body,div{
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}
*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	font: 14px  "Hiragino Sans GB","Microsoft YaHei",sans-serif;
	color: #333;
	background-color: #fff;
}
/*设置a元素的默认样式*/
a{
	color: #999;
	text-decoration:none;
}
img{
	vertical-align: bottom;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.main{
	width: 1280px;
	margin: 0 auto;
	box-sizing: border-box;
}