#banner,.floor,#bottom,#footer{
	margin-top: 10px;
}
/*header区域*/
/* #header{min-height: 100px;background-color: #fff}
#banner{min-height: 200px;background-color: green;}
div.floor{min-height: 300px;background-color: #fff;}
#middle{min-height: 100px;background-color: #fff;}
#bottom{min-height: 100px;background-color: #fff;}
#footer{min-height: 100px;background-color: #fff} */
/* banner 部分*/
#banner{
	width: 100%;
	overflow: hidden;
	position: relative;
}
/* 图片 */
#banner ul.banner-img{
	position: relative;
	width: 100%;
	
}
#banner ul.banner-img>li{
	float:left; 
	width:100%;
	height:500px;
}
#banner ul.banner-img img{
	width: 100%;
	height:500px;
}
/* 圆点 */
#banner ul.dot{
	position: absolute;
	bottom: 10px;
	margin-left:43.7%;

}
#banner ul.dot li{
	width: 18px;
	height: 18px;
	background: transparent;
	border-radius: 50%;
	border: 1px solid #64a131;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
#banner ul.dot li.hover{
	background:#64a131; 
}
/*div.l-fixed{*/
	/*width:*/
/*}*/
#u1 li:nth-child(1) a{
    background: #eee;
}